/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    overflow-x: hidden;
    background-color: rgb(0, 0, 0); /* Fallback color */
    font-family: "Baskervville", serif;
    font-size: 1.5rem;
}

/* Modal Content/Box */
.modal-content {
    background-image: url("../img/popbg.webp"); /* Set background image Designed by katemangostar*/
    background-repeat: no-repeat; /* Do not repeat background image */
    background-size: cover; /* Scale background image to cover the element */
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    padding-right: 2rem;
    font-size: 5rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(255, 255, 255, 0.315);
    text-decoration: none;
    cursor: pointer;
    scale: 90%;
    transition: 0.2s;
}

.btnPopup {
    display: inline-block;
    vertical-align: middle;
    padding: 0.35rem 0.5rem 0.35rem 0.5rem;
    margin-right: 0.5rem;
    background-color: transparent;
    border: 0.2rem solid white;
    border-radius: 0.605rem; /* Add rounded corners to the element */
    color: white;
    cursor: pointer;
    font-size: 1.25rem; /* Use a relative unit for font size */
    font-family: "Cabin Sketch", sans-serif;
    font-family: "Caveat", cursive;
    filter: drop-shadow(
        0 0 20px rgba(255, 0, 255, 0.7)
    ); /* Add a neon pink drop shadow effect */
    transition: filter 0.3s ease-out; /* Add a transition for the filter property */
}

.btnPopup:hover {
    scale: 90%;
    transition: 0.2s;
    filter: drop-shadow(
        0 0 20px rgba(255, 0, 255, 0.7)
    ); /* Add a neon pink drop shadow effect */
}

/* Grid Styles */
.grid3 {
    display: grid;
    column-gap: calc(8px + 1.5625vw);
    grid-template-columns: 1fr 1fr;
    margin-bottom: calc(8px + 1.5625vw);
    color: white;
    margin: 0 2rem 0 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main3,
.side3 {
    padding: 1rem;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .close {
        font-size: 3.5rem;
        padding: 0%;
    }

    .btnPopup {
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        margin: 0;
        font-size: 1.5625rem;
        font-family: initial;
        border: none;
    }

    .btnPopup:hover {
        scale: 100%;
        color: var(--hover-color); /* Use the hover color variable */
    }

    .grid3 {
        grid-template-columns: 1fr;
        height: calc(
            100vw - 20px
        ); /* Set height as 50vw (viewport width) minus 20px for gap */
    }

    .main3,
    .side3 {
        height: auto;
    }

    .modal {
        font-size: 1.2rem;
        background: linear-gradient(
            to bottom,
            rgba(80, 80, 80, 0.90),
            rgba(0, 0, 0, 0.90),
            rgba(80, 80, 80, 0.90)
        );
    }

    .modal-content {
        background-image: none;
    }
}
