/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    overflow-x: hidden;
    background-color: rgb(0, 0, 0); /* Fallback color */
    font-family: 'Baskervville', serif;
    font-size: 1.5rem;
}

/* Modal Content/Box */
.modal-content {
    background-image: url("../img/bg.webp"); /* Set background image */
    background-repeat: no-repeat; /* Do not repeat background image */
    background-size: cover; /* Scale background image to cover the element */
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 3rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgba(255, 255, 255, 0.315);
    text-decoration: none;
    cursor: pointer;
    scale: 90%;
    transition: 0.2s;
}

.btnPopup {
    display: inline-block;
    vertical-align: middle;
    padding: 0.35rem 0.5rem 0.35rem 0.5rem;
    margin-right: 0.5rem;
    background-color: transparent;
    border: 0.2rem solid white;
    border-radius: 0.605rem; /* Add rounded corners to the element */
    color: white;
    font-family: "Tilt Neon", sans-serif; /* Use a custom neon font */
    font-size: 1.125rem; /* Use a relative unit for font size */
}

.btnPopup:hover {
    scale: 90%;
    transition: 0.2s;
}

/* Grid Styles */
.grid3 {
    display: grid;
    column-gap: calc(8px + 1.5625vw);
    grid-template-columns: 1fr 1fr;
    margin-bottom: calc(8px + 1.5625vw);
    color: white;
    margin: 0 2rem 0 1rem;
}

.main3,
.side3 {
    padding: 1rem;
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .btnPopup {
        padding: 0.5rem 0.5rem 0.5rem 2rem;
        font-size: 1.5625rem;
        font-family: initial;        
        border: none;
    }

    .btnPopup:hover {
    scale: 100%;
    color: var(--hover-color); /* Use the hover color variable */
}

    .grid3 {
        grid-template-columns: 1fr;
        height: calc(
            100vw - 20px
        ); /* Set height as 50vw (viewport width) minus 20px for gap */
    }

    .main3,
    .side3 {
        height: auto;
    }

    .modal {
        font-size: 1.2rem;
    }

    .modal-content {
    background-image: none; /* Set background image */
    }
}
