/* Define variables for colors and other repeated values */
:root {
    --background-color: transparent;
    --text-color: black;
    --link-color: white;
    --hover-color: rgba(255, 255, 255, 0.315);
    --side-nav-color: rgba(255, 255, 255, 0.315);
    --side-nav-shadow: 0.125rem 0.5rem 1.25rem rgba(0, 0, 0, 0.24);
    --neon-color: #fbfbc1;
    --base-font-size: 16px;
}

/* Set the base font size for the html element */
html {
    font-size: var(--base-font-size);
}

/* Style the body element */
body {
    margin: 0; /* Sets the all the content to have 0 margin */
    overflow: hidden; /* Hide overflow content */
    background-image: url("../img/bg.webp"); /* Set background image */
    background-repeat: no-repeat; /* Do not repeat background image */
    background-size: cover; /* Scale background image to cover the element */
}

/* Style the main element */
main {
    position: relative;
    display: flex; /* Use flex display to align items */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
}

/* Style the image container element */
.imgcontainer {
    display: flex; /* Use flex display to align items */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 100vh; /* Set height to 100% of viewport height */
}

/* Style the background image element */
.half-image {
    width: 50vw; /* Use a relative unit for width */
    height: 120vh; /* Use a relative unit for height */
    object-fit: cover;
    position: absolute; /* Use absolute positioning for precise control */
    z-index: 2;
    transition: transform 15s ease-out; /* Add transition for smooth animation */
}

/* Style the left background image element */
#leftImage {
    left: 0;
    top: -25vh; /* Use a relative unit for top */
}

/* Style the right background image element */
#rightImage {
    right: 0;
    top: -25vh; /* Use a relative unit for top */
}

/* Style the neon image element */
.neon-image {
    position: absolute; /* Use absolute positioning for precise control */
    top: 30%; /* Position element 50% from the top edge of the parent */
    left: 50%; /* Position element 50% from the left edge of the parent */
    transform: translate(
        -50%,
        -50%
    ); /* Offset element by half of its own width and height to center it */
    z-index: 1; /* Set z-index to 1 to appear below other elements */
    width: 30%; /* Set width to 30% of the parent */
    object-fit: cover; /* Scale image to cover the element */
    border-radius: 0.375rem; /* Add rounded corners to the element */
    filter: drop-shadow(
        0 0 1.25rem var(--neon-color)
    ); /* Add a neon drop shadow effect to the element using the neon color variable */
    transition: filter 0.3s, transform 0.4s ease-out; /* Add transitions for filter and transform properties */
}

/* Style the iframe element */
.iframefy {
    padding: 0.2rem 0 0.2rem 0;
    border-radius: 0.5rem; /* Add rounded corners to the element */
    margin-top: 25%; /* Use a relative unit for margin */
    background-color: var(
        --background-color
    ); /* Use the background color variable */
}

/* Apply styles for screens that are smaller than 768 pixels wide */
@media screen and (max-width: 767px) {
    /* Prevent scrolling to x axis */
    html {
        overflow-x: hidden;
    }

    body {
        overflow-x: hidden;
    }

    /* Adjust the neon image width */
    .neon-image {
        width: 80%; /* Use a relative unit for width */
    }

    /* Adjust the background image object-fit */
    .half-image {
        object-fit: contain;
    }

    /* Adjust the neon word font size */
    .neon-word {
        font-size: 0.5rem; /* Use a relative unit for font size */
    }

    /* Adjust the iframe margin and width */
    iframe {
        margin-top: 65%; /* Use a relative unit for margin */
        width: 80%; /* Use a relative unit for width */
    }
}
